body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  @include ul-decoration;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --rev-q: url("../img/quotes.png");
  --btn-left: url("../img/left-arrow.png");
  --btn-right: url("../img/right-arrow.png");
  --done: url("../img/yes.svg");
  --none: url("../img/no.svg");
  --email-form: url("../img/form-mail-icon.png");
  --phone-form: url("../img/form-phone-icon.png");
}
