//цвет
$white: #ffffff;
$black: #000000;
$dark: #283645;
$blue-dark: #1d2631;
$light: #f2f2f2;
$pink: #d22856;
$green: #2aab6d;
$grey: #e5e5e5;

//фоновый цвет
$bg-page: #ffffff;
$bg-header: #1d2631;
$bg-main-nav: rgba(0, 0, 0, 0.3);
$bg-main-nav-list: #283645;

//фоновые рисунки
$bg-header1-mobile: url("../img/bg-img/back-mobile.jpg");
$bg-header1-tablet: url("../img/bg-img/back-tablet.jpg");
$bg-header1-desktop: url("../img/bg-img/back-desktop.jpg");
$bg-hand-mobile: url("../img/bg-img/phone-hand-mobile.jpg");
$bg-hand-tablet: url("../img/bg-img/phone-hand-tablet.jpg");
$bg-hand-desktop: url("../img/bg-img/phone-hand-desktop.png");
$bg-header3-tablet: url("../img/bg-img/screen-tablet.jpg");
$bg-header3-desktop: url("../img/bg-img/screen-desktop.jpg");
$bg-adv-mobile: url("../../img/bg-img/bg-adv-mobile.png");
$apple-logo: url("../img/apple-logo.svg");
$android-logo: url("../img/android-logo.svg");
$microsoft-logo: url("../img/microsoft-logo.svg");
$adv-friends: url("../img/iphone-3.jpg");
$heard: url("../img/heart.svg");
$noun-done: url("../img/yes.svg");
$noun-none: url("../img/no.svg");

//шрифты
$base-font: "Open Sans", sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;
$color-page: #000000;

//viewports
$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;


//button-form
@mixin btn-form {
  display: block;
  min-width: 276px;
  padding: 23px 45px;
  background: $green;
  color: $white;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  align-items: center;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 30px;
}

//button-catalog
@mixin btn-rounded {
  display: block;
  min-width: 280px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 18px;
  box-sizing: border-box;
  border-radius: 30px;
  padding-top: 21px;
  padding-bottom: 21px;
}

//Titles
@mixin form-title {
  font-family: inherit;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
}

//ограничение
@mixin mobile-max-width {
  width: 280px;
}

@mixin tablet-max-width {
  width: 620px;
}

@mixin desktop-max-width {
  width: 960px;
}
