//цвет
$white: #ffffff;
$black: #000000;
$dark: #283645;
$blue-dark: #1d2631;
$light: #f2f2f2;
$pink: #d22856;
$green: #2aab6d;
$green-dark: #1c9b5e;
$grey: #e5e5e5;

//фоновый цвет
$bg-page: #ffffff;
$bg-header: #1d2631;
$bg-main-nav: rgba(0, 0, 0, 0.3);
$bg-main-nav-list: #283645;

//чб фон
$bg-header1-mobile: url("../img/bg-img/back-mobile.jpg");
$bg-header2x-mobile: url("../img/bg-img/back-mobile@2x.jpg");
$bg-header1-tablet: url("../img/bg-img/back-tablet.jpg");
$bg-header2x-tablet: url("../img/bg-img/back-tablet@2x.jpg");
$bg-header1-desktop: url("../img/bg-img/back-desktop.jpg");
$bg-header2x-desktop: url("../img/bg-img/back-desktop@2x.jpg");
//рука с телефоном
$bg-hand-mobile: url("../img/bg-img/phone-hand-mobile.png");
$bg-hand2x-mobile: url("../img/bg-img/phone-hand-mobile@2x.png");
$bg-hand-tablet: url("../img/bg-img/phone-hand-tablet.png");
$bg-hand2x-tablet: url("../img/bg-img/phone-hand-tablet@2x.png");
$bg-hand-desktop: url("../img/bg-img/phone-hand-desktop.png");
$bg-hand2x-desktop: url("../img/bg-img/phone-hand-desktop@2x.png");
//розовый экран intro
$bg-screen-mobile: url("../img/bg-img/screen-mobile.jpg");
$bg-screen2x-mobile: url("../img/bg-img/screen-mobile@2x.jpg");
$bg-screen-tablet: url("../img/bg-img/screen-tablet.jpg");
$bg-screen2x-tablet: url("../img/bg-img/screen-tablet@2x.jpg");
$bg-screen-desktop: url("../img/bg-img/screen-desktop.jpg");
$bg-screen2x-desktop: url("../img/bg-img/screen-desktop@2x.jpg");

//фоновые рисунки
$bg-adv-mobile: url("../img/bg-img/bg-adv-mobile.png");
$apple-logo: url("../img/apple-logo.svg");
$android-logo: url("../img/android-logo.svg");
$microsoft-logo: url("../img/microsoft-logo.svg");
$heard: url("../img/heart.svg");
$control-tick: url("../img/tick.png");
$diagram: url("../img/diagram.png");

//шрифты
$base-font: "Open Sans", "Arial", sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;
$color-page: #000000;

//viewports
$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;

//button-form
@mixin btn-form {
  display: block;
  min-width: 276px;
  padding: 23px 45px;
  background: $green;
  color: $white;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  align-items: center;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 167%;
  cursor: pointer;
}

//button-catalog
@mixin btn-rounded {
  display: block;
  min-width: 280px;
  min-height: 55px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 100%;
  box-sizing: border-box;
  border-radius: 30px;
}

//Titles
@mixin form-title {
  font-family: inherit;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
}

//ограничение
@mixin mobile-max-width {
  width: 280px;
}

@mixin tablet-max-width {
  width: 620px;
}

@mixin desktop-max-width {
  width: 960px;
}
