.advantages {
  margin: 0 auto;
  background-color: $light;
  text-align: center;
}

.advantages__wrapper {
  @include mobile-max-width;

  margin: 0 auto;
  min-height: 752px;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;

    min-height: 750px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;

    min-height: 933px;
    margin-bottom: 59px;
  }
}

.advantages__subtitle {
  background-color: $white;
  background-size: cover;
  font-weight: $weight-light;
  font-size: 24px;
  line-height: 120%;
  margin: 0 auto;
  padding: 46px 20px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    max-width: 588px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    min-width: 780px;
  }
}

.advantages__list {
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 547px;
    margin-right: 0;
    outline-offset: -5px;
    width: 610px;
    display: grid;
    grid-template-columns: 260px 260px;
    gap: 20px;

    &::before {
      content: "";
      background-image: var(--adv3-bgi);
      background-repeat: no-repeat;
      background-size: 100%;
      outline-offset: -5px;
      width: 260px;
      height: 547px;
      margin: 0 auto;
      grid-column: 1 / 2;
      grid-row: 1 / 4;

      @media (min-width: $desktop-width) {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0;
    min-height: 551px;
    width: 940px;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 43px;
  display: flex;
  flex-direction: column;

  &--friends::after {
    content: "";
    background-image: var(--adv3-bgi);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 43px;
    width: 157px;
    height: 320px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    outline-offset: -5px;
    margin-bottom: 46px;

    &--joy {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      outline-offset: -5px;
    }

    &--change {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      outline-offset: -5px;
    }

    &--friends {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      outline-offset: -5px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;

    &--joy::before {
      content: "";
      background-image: var(--adv1-bgi);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: left 43px;
      width: 186px;
      height: 382px;
      margin: 0 auto;
    }

    &--change::before {
      content: "";
      background-image: var(--adv2-bgi);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: left 43px;
      width: 186px;
      height: 382px;
      margin: 0 auto;
    }

    &--friends::before {
      content: "";
      background-image: var(--adv3-bgi);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: left 43px;
      width: 186px;
      height: 382px;
      margin: 0 auto;
    }
  }
}

.advantages__title {
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 133%;
  color: $black;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 24px;
    text-align: start;
    outline-offset: -5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 35px;
    text-align: center;
  }
}

.advantages__description {
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 171%;
  color: $dark;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
  }
}
