.card {
  position: relative;
  margin-bottom: 20px;
  // width: 280px;
  background-color: $light;
}

.card__panorama {
  @media (min-width: $tablet-width) {
    @include tablet-max-width;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;
  }
}

.card__legend {
  display: inline-block;
  min-width: 140px;
  min-height: 36px;
  background-color: $pink;
  color: $white;
  font-weight: $weight-bold;
  font-size: 12px;
  line-height: 200%;
  text-align: center;
  padding: 13px 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.card__photo {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    &--panorama {
      display: block;
      min-width: 100%;
    }
  }
}

.card__info {
  margin-top: 0;
  padding-left: 17px;
  padding-bottom: 26px;

  // @media (min-width: $tablet-width) {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  // }
}

.card__user-name {
  align-items: center;
  font-weight: $weight-bold;
  font-size: 14px;
  line-height: 24px;
  color: $dark;
}

.card__period {
  align-items: center;
  text-transform: uppercase;
  font-weight: $weight-light;
  font-size: 12px;
  line-height: 24px;
  color: $dark;
}

.card__text {
  align-items: center;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark;
}

.card__activ {
  @media (min-width: $tablet-width) {
    &--panorama {
      justify-content: end;
    }

    display: flex;
    justify-content: space-between;
  }
}

.card__button {
  background-image: $heard;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 15px;
  height: 14px;
  cursor: pointer;
  margin-right: 18px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-left: 16px;
  }
}

.card__like {
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: $pink;
}
