.contacts {
  background-color: $white;
  text-align: center;
}

.contacts__wrapper {
  @include mobile-max-width;

  min-height: 395px;
  padding: 50px 49px 22px 49px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;

    min-height: 351px;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;

    min-height: 351px;
    padding-top: 74px;
  }
}

.contacts__title {
  font-weight: $weight-light;
  font-size: 24px;
  line-height: 120%;
  color: $dark;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 545px;
  }
}

.contacts__item {
  display: block;
  min-height: 48px;

  @media (min-width: $tablet-width) {
    width: 241px;
    order: 3;

    &--adress {
      width: auto;
      order: 4;
      margin-top: 55px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 241px;
    order: 1;

    &--adress {
      min-width: auto;
      order: 1;
      margin-top: 0px;
    }
  }
}

.contacts__subtitle {
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 13px;
}

.contacts__text {
  font-weight: $weight-light;
  font-size: 24px;
  line-height: 33px;
  color: $pink;
}

.contacts iframe {
  width: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    height: 374px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 502px;
  }
}
