.edition {
  display: flex;
  border-bottom: 3px solid rgba(40, 54, 69, 0.1);
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }
}

.edition__change {
  &--crop {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--fill {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--contrast {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.edition__item {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: 3px solid rgba(40, 54, 69, 0.1);
    padding-top: 27px;
    padding-bottom: 23px;
  }
}

.edition__button {
  border: none;
  background-color: transparent;
  margin-right: 35px;

  &--current svg {
    fill: $pink;
    fill-opacity: 1;
  }

  &--contrast {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }
}

.edition__icon {
  fill: $dark;
  fill-opacity: 0.3;

  &:hover {
    fill-opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 48px;
  }
}
