.emotions {
  @include mobile-max-width;

  margin: 0 auto;
  margin-bottom: 44px;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;
    padding: 0;
  }
}

.emotions__input {
  margin-top: 22px;
  width: 276px;
  height: 197px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 53px;
    width: 496px;
    height: 189px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 816px;
    height: 124px;
  }
}
