.form fieldset {
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;

    &:not(:first-child) {
      border: 2px solid $grey;
      padding-top: 54px;
      padding-left: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    &:not(:first-child) {
      padding: 44px 55px;
    }
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    @include tablet-max-width;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 440px 440px;
    row-gap: 70px;
    column-gap: 74px;
    margin-bottom: 69px;
  }
}

.form__group {
  &--user-data {
    @media (min-width: $tablet-width) {
      order: 1;
    }

    @media (min-width: $desktop-width) {
      width: 433px;
    }
  }

  &--platforms {
    @media (min-width: $tablet-width) {
      order: 2;
    }

    @media (min-width: $desktop-width) {
      width: 433px;
    }
  }

  &--user-contacts {
    @media (min-width: $tablet-width) {
      order: 3;
    }

    @media (min-width: $desktop-width) {
      @include desktop-max-width;
      grid-column: 1 / 3;
    }
  }

  &--progress {
    @media (min-width: $tablet-width) {
      order: 4;
    }

    @media (min-width: $desktop-width) {
      @include desktop-max-width;
      grid-column: 1 / 3;
    }
  }

  &--emotions {
    @media (min-width: $tablet-width) {
      @include desktop-max-width;
      order: 5;
    }
  }
}

.form__inner {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    &--user-data {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 56px;
    }
  }
}

.form__title {
  @include form-title;
  @include mobile-max-width;
  margin: 0 auto;

  text-align: center;
  position: relative;
  top: 42px;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    top: 0;
  }
}

.form__label {
  font-family: inherit;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
  align-items: center;
  margin-left: 20px;
}

.form__input {
  min-width: 276px;
  border: 2px solid $grey;
  border-radius: 1px;
  font-family: inherit;
  color: $dark;
  font-size: 18px;
  line-height: 167%;
  font-weight: $weight-normal;
  padding: 23px 20px;

  &:hover {
    border: 2px solid $dark;
  }

  &:active {
    border: 2px solid $pink;
  }
}

.form__button {
  margin: 0 auto;
  margin-bottom: 46px;

  @include btn-form;
}

.form__info {
  @include mobile-max-width;

  text-transform: uppercase;
  font-style: normal;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 214%;
  margin: 0 auto;
  margin-bottom: 26px;
}
