.header {
  background-color: $blue-dark;
  color: $white;
  background-image: $bg-header1-mobile;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: $bg-header2x-mobile;
  }

  @media (min-width: $tablet-width) {
    background-image: $bg-header1-tablet;

    @media (min-resolution: 2dppx) {
      background-image: $bg-header2x-tablet;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: $bg-header1-desktop;

    @media (min-resolution: 2dppx) {
      background-image: $bg-header2x-desktop;
    }
  }
}

.header__wrapper {
  min-height: 733px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-height: 729px;
  }

  @media (min-width: $desktop-width) {
    min-height: 853px;
  }

  &--inner {
    min-height: 237px;

    @media (min-width: $tablet-width) {
      min-height: 440px;
    }

    @media (min-width: $desktop-width) {
      @include desktop-max-width;

      min-height: 394px;
    }
  }
}

.header__title {
  @include mobile-max-width;
  font-weight: $weight-light;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin: 0 auto;
  padding-top: 29px;

  &--inner {
    padding-top: 36px;
  }

  @media (min-width: $tablet-width) {
    @include tablet-max-width;
    font-size: 50px;
    line-height: 68px;
    padding: 81px 151px 143px 151px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;
    padding: 81px 110px 104px 104px;
  }
}
