.header {
  background-color: $blue-dark;
  color: $white;
}

.header__main {
  min-height: 733px;
}

.header__title {
  font-weight: $weight-light;
  font-size: 24px;
  line-height: 33px;

  @include align-center;
}

.header__inner-page {
  min-height: 237px;
}

//tablet
@media (min-width: $tablet-width) {
  .header__main {
    min-height: 729px;
  }
}

//desktop
@media (min-width: $desktop-width) {
  .header__main {
    min-height: 853px;
  }
}
