.intro {
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;
    margin: 0 auto;
    background-image: $bg-hand-tablet;
    background-repeat: no-repeat;
    background-size: 660px 545px;
    background-position: bottom;
    position: relative;

    @media (min-resolution: 2dppx) {
      background-image: $bg-hand2x-tablet;
    }

    &::after {
      content: "";
      background-image: $bg-screen-tablet;
      background-repeat: no-repeat;
      background-size: 195px 346px;
      width: 195px;
      height: 346px;
      position: absolute;
      top: 166px;
      right: 75px;

      @media (min-resolution: 2dppx) {
        background-image: $bg-screen2x-tablet;
      }
    }
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;
    height: 743px;
    background-image: $bg-hand-desktop;
    background-size: auto 645px;
    background-position: bottom;

    &::after {
      content: "";
      background-image: $bg-screen-desktop;
      background-repeat: no-repeat;
      background-size: 230px 408px;
      width: 230px;
      height: 408px;
      position: absolute;
      top: 162px;
      right: 201px;

      @media (min-resolution: 2dppx) {
        background-image: $bg-screen2x-desktop;
      }
    }
  }
}

.intro__wrapper {
  min-height: 667px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 619px;
    width: 300px;
    padding-top: 74px;
    padding-bottom: 119px;
    position: relative;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    min-height: 478px;
  }
}

.intro__subtitle {
  @include mobile-max-width;
  font-weight: $weight-light;
  font-size: 24px;
  line-height: 120%;
  min-height: 396px;
  background-image: $bg-hand-mobile;
  background-repeat: no-repeat;
  background-size: 320px 286px;
  background-position: bottom left;
  margin-bottom: 0;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: $bg-hand2x-mobile;
    background-size: 320px 286px;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    min-height: 127px;
    font-size: 40px;
    align-items: start;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }

  &::after {
    content: "";
    background-image: $bg-screen-mobile;
    background-repeat: no-repeat;
    background-size: 111px 197px;
    width: 111px;
    height: 197px;
    position: absolute;
    top: 142px;
    left: 104px;

    @media (min-resolution: 2dppx) {
      background-image: $bg-screen2x-mobile;
    }

    @media (min-width: $tablet-width) {
      background-image: none;
      min-height: 174px;
    }
  }
}

.intro__downloads {
  width: 100%;
  background-color: $blue-dark;
  padding-top: 28px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    width: 300px;
  }
}

.intro__button {
  @include btn-rounded;
  padding-top: 21px;
  padding-bottom: 21px;
  color: $white;
  border: 3px solid $white;
  border-radius: 30px;
  margin-bottom: 32px;
  width: 280px;

  &:hover {
    color: $pink;
    box-shadow: 0 5px 7px rgba(1, 1, 1, 0.75);
    background-color: $white;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.intro__list {
  @include mobile-max-width;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.intro__item:not(:last-child) {
  margin-right: 35px;
}

.intro__link {
  display: block;
  min-width: 47px;

  &--apple {
    width: 47px;
    height: 56px;
    background-image: $apple-logo;
    background-repeat: no-repeat;
  }

  &--android {
    width: 43px;
    height: 47px;
    background-image: $android-logo;
    background-repeat: no-repeat;
  }

  &--microsoft {
    width: 44px;
    height: 41px;
    background-image: $microsoft-logo;
    background-repeat: no-repeat;
  }
}

.intro__legend {
  @include mobile-max-width;
  margin: 0 auto;
  margin-top: 28px;
  font-weight: $weight-light;
  font-size: 14px;
  line-height: 171%;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 133%;
  }
}
