.intro {
  background-color: $blue-dark;
  color: $white;
  text-align: center;
  padding: 28px 20px 38px 20px;
}

.intro__sudtitle {
  font-weight: $weight-light;
  font-size: 24px;
  line-height: 29px;
}

.intro__wrapper {
  min-height: 271px;
}

.intro__button {
  @include btn-rounded;
  color: $white;
  border: 3px solid $white;
  border-radius: 30px;
  padding: 21px 39px;
  margin-bottom: 32px;

  &:hover {
    color: $pink;
    box-shadow: 0 5px 7px rgba(1, 1, 1, 0.75);
    background-color: $white;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .intro__button {
    max-width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .intro__button {
    max-width: 300px;
  }
}

.intro__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__link {
  margin-right: 35px;
}

.intro__link--apple {
  display: block;
  width: 47px;
  background-image: $apple-logo;
  background-repeat: no-repeat;
}

.intro__legend {
  font-weight: $weight-light;
  font-size: 14px;
  line-height: 24px;
}
