.logo-pink__link {
  &:first-child {
    margin-right: 12px;
  }

  &--word:hover {
    fill: $pink;
  }

  &:active {
    fill-opacity: 0.3;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;

    &--icon {
      display: none;
    }

    &--word {
      display: none;
    }
  }
}
