.modal {
  background-color: $white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px;
  padding-top: 44px;
  padding-bottom: 52px;
}

.modal__title {
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  text-align: center;
}

.modal__text {
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark;
  text-align: center;
}

.modal__button {
  @include btn-form;
  margin: 0 auto;
}
