.modal {
  background-color: $white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px;
  padding-top: 44px;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 460px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    height: 377px;
  }
}

.modal__failure {
  height: 289px;
  padding-right: 22px;
  padding-left: 22px;

  @media (min-width: $tablet-width) {
    height: 363px;
  }
}

.modal__success {
  height: 380px;
  background: $light;
  border-radius: 0 0 1px 1px;

  @media (min-width: $tablet-width) {
    height: 432px;
  }
}

.modal__content {
  background-color: $white;
}

.modal__title {
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  text-align: center;
}

.modal__text {
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark;
  text-align: center;
}

.modal__close {
  margin: 0 auto;
  padding-top: 50px;
}

.modal__button {
  @include btn-form;
  margin: 0 auto;

  &:hover {
    background: $green-dark;
    border: 2px solid $green-dark;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
