.platforms {
  background: $light;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    background: $white;
    margin: 0;
  }
}

.platforms__list {
  @include mobile-max-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.platforms__item {
  margin-bottom: 47px;

  @media (min-width: $desktop-width) {
    margin-bottom: 39px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
