.progress {
  background: $light;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    background: $white;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;
    margin: 0;
    padding: 0;
    height: 228px;
  }
}

.progress__list {
  @include mobile-max-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 820px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 230px;
  }
}

.progress__item {
  margin-top: 44px;
  margin-bottom: 47px;

  &:last-child {
    margin-bottom: 44px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 54px;

    &:last-child {
      margin-bottom: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 47px;
    width: 260px;

    &:not(:nth-of-type(n+5)) {
      margin-right: 57px;
    }
  }
}
