.rate {
  background-color: $light;
}

.rate__wrapper {
  @include mobile-max-width;

  min-height: 506px;
  margin: 0 auto;
  padding-top: 129px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;

    min-height: 400px;
    padding-top: 114px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;

    min-height: 534px;
    padding-top: 159px;
    padding-bottom: 98px;
  }
}

.rate__table {
  margin: 0 auto;
  min-width: 320px;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    min-width: 620px;
  }

  @media (min-width: $desktop-width) {
    min-width: 895px;
  }
}

.rate__head {
  text-align: center;
  background: $dark;
  border: 2px solid #283645;
  border-radius: 1px 0 0 0;
  color: $white;
}

.rate__base {
  width: 7%;
}

.rate__unlim {
  width: 7%;
}

.rate__standart {
  min-width: 86%;
}

.rate__name {
  font-weight: $weight-bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.rate__price {
  font-weight: $weight-light;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.rate__body {
  border: 2px solid #e5e5e5;
  background-color: $white;
}

.rate__option {
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.rate__noun {
  width: 31px;
  height: 31px;

  &--done {
    background-image: $noun-done;
    background-repeat: no-repeat;
  }

  &--none {
    background-image: $noun-none;
    background-repeat: no-repeat;
  }
}

.rate__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
