.rate {
  background-color: $light;
}

.rate__wrapper {
  @include mobile-max-width;

  min-height: 506px;
  margin: 0 auto;
  padding-top: 129px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;

    min-height: 400px;
    padding-top: 114px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;

    min-height: 534px;
    padding-top: 159px;
    padding-bottom: 98px;
  }
}

.rate__table {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 45px;

  td:nth-child(1),
  td:nth-child(2),
  td:nth-child(4) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 620px;
    min-width: 100%;

    td:nth-child(1),
    td:nth-child(2),
    td:nth-child(4) {
      display: table-cell;
    }

    td {
      width: 25%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.rate__head {
  text-align: center;
  background: $dark;
  border: 2px solid #283645;
  border-radius: 1px 0 0 0;
  color: $white;
  height: 94px;

  @media (min-width: $tablet-width) {
    height: 75px;
  }
}

.rate__option {
  @media (min-width: $tablet-width) {
    background-color: $light;
  }
}

.rate__standart {
  position: relative;
}

.rate__ribbon {
  &--mobile {
    position: absolute;
    top: 0;
    left: 0;
    fill: $pink;
  }
}

.rate__ribbon-info {
  display: block;
  font-family: $base-font;
  color: $white;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 214%;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(-45deg);
  position: absolute;
  top: 20px;
  left: 10px;
}

.rate__name {
  font-weight: $weight-bold;
  font-size: 16px;
  line-height: 187%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.rate__price {
  font-weight: $weight-light;
  font-size: 18px;
  line-height: 167%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.rate__body {
  border: 2px solid #e5e5e5;
  background-color: $white;

  td {
    @media (min-width: $tablet-width) {
      padding-left: 15px;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 22px;
      padding-top: 19px;
      padding-bottom: 19px;
    }
  }
}

.rate__mobile {
  display: grid;
  grid-template-columns: 1fr 31px;
  margin: 19px 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.rate__done {
  background-image: var(--done);
  background-repeat: no-repeat;
  background-position: 93%;
  background-size: 31px 21px;
  width: 31px;
  height: 21px;

  @media (min-width: $tablet-width) {
    background-position: center;
  }
}

.rate__none {
  background-image: var(--none);
  background-repeat: no-repeat;
  background-position: 93%;
  background-size: 27px 27px;
  width: 27px;
  height: 27px;

  @media (min-width: $tablet-width) {
    background-position: center;
  }
}

.rate__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
