.upload {
  background-color: $light;
}

.upload__wrapper {
  text-align: center;
}

.upload__text {
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark;
  text-align: center;
}

.upload__button {
  @include btn-rounded;

  &--submit {
    color: $pink;
    border: 3px solid $pink;
    margin-bottom: 12px;
  }

  &--reset {
    color: $blue-dark;
    opacity: 0.1;
    border: 3px solid $dark;
  }
}
