.user-data {
  @include mobile-max-width;

  margin: 0 auto;
  margin-bottom: 44px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.user-data__label {
  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}
