.user-contacts {
  @include mobile-max-width;

  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;
    margin: 0;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 23px;
  }
}

.user-contacts__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.user-contacts__phone {
  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.user-contacts__email {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.user-contacts__label {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.user-contacts__input {
  @media (min-width: $tablet-width) {
    order: 1;
    width: 496px;
    height: 59px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 371px;
  }
}

.user-contacts__icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    background-color: $grey;
    width: 59px;
    height: 59px;
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: 59px;

    &--phone {
      background-image: var(--phone-form);
    }

    &--email {
      background-image: var(--email-form);
    }
  }

  @media (min-width: $desktop-width) {
    right: 0;
  }
}
