.user-contacts {
  @include mobile-max-width;

  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;
    display: flex;
    justify-content: space-between;
  }
}

.user-contacts__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.user-contacts__label {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.user-contacts__input {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}
